@font-face {
  font-family: "iconfont"; /* Project id 2697400 */
  src: url('iconfont.woff2?t=1629099576238') format('woff2'),
       url('iconfont.woff?t=1629099576238') format('woff'),
       url('iconfont.ttf?t=1629099576238') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuzi:before {
  content: "\e653";
}

.icon-CaretCircleRight:before {
  content: "\e618";
}

.icon-CaretLeft:before {
  content: "\e619";
}

.icon-CaretRight:before {
  content: "\e61a";
}

.icon-CaretDown:before {
  content: "\e61b";
}

.icon-CaretUp:before {
  content: "\e61c";
}

.icon-dingwei:before {
  content: "\e64d";
}

.icon-suo:before {
  content: "\e623";
}

.icon-shouji:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e603";
}

